#blog-section{
    padding: 10px 15px;
}

#blog-section .container h1{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
    color: #35733f;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}

#blog-section .container a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    transition: all .3s ease-in-out;
}

#blog-section .container a:hover{
    color: #35733f;
    font-size: 2.4rem;
    cursor: pointer;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}